<template>
  <div class="common-form-wrap">
    <div v-if="isCheckbox">
      <ul>
        <li class="d-flex" v-for="(check, i) in elementData.value" :key="i">
          <field-checkbox
              :value="check"
              v-model="modelValue"
              @input-check="eventInterceptor(
                $event,
                elementData.fieldValueName,
                elementData.fieldValueType,
                elementData.elementType)"/>
          <span class="ml-1">{{check}}</span>
        </li>
      </ul>
    </div>
    <div v-else-if="isInput">
      <v-text-field
          outlined
          dense
          v-model="modelValue"
          :label="elementData.label"
          @input="eventInterceptor(
            $event,
            elementData.fieldValueName,
            elementData.fieldValueType,
            elementData.elementType
            )"
      ></v-text-field>
    </div>
    <div v-else-if="isSelect">
      <v-select
          outlined
          dense
          v-model="modelValue"
          item-value="value"
          item-text="title"
          :items="elementData.value"
          :label="elementData.label"
          required
          @input="eventInterceptor(
            $event,
            elementData.fieldValueName,
            elementData.fieldValueType,
            elementData.elementType)"
      ></v-select>
    </div>
<!--    <div v-else-if="isSwitch">-->
<!--      <v-switch-->
<!--          :label="elementData.label"-->
<!--          color="primary"-->
<!--          value="primary"-->
<!--          hide-details-->
<!--          @change="eventInterceptor(-->
<!--            $event,-->
<!--            elementData.fieldValueName,-->
<!--            elementData.fieldValueType,-->
<!--            elementData.elementType)"-->
<!--      ></v-switch>-->
<!--    </div>-->
<!--    <div v-else-if="isDropdown">Dropdown</div>-->
  </div>
</template>

<script>
  import {ElementTypes, DataTypes} from '@/helpers/constants'
  import fieldCheckbox from '@/components/pages/builder/components/generateFields/fields/fieldCheckbox.vue';
  export default {
    name: "commonForm",
    components: {fieldCheckbox},
    props: {
      valueForEdit: [String, Array, Number, Boolean, Object],
      elementType: String,
      elementData: [String, Array, Number, Boolean, Object],
      paramId: Number,
      productType: String
    },
    data: () => ({
      checkboxValues: {
        stringValue: '',
        arrayValue: []
      },
      inputValue: '',
      selectValues: {
        stringValue: '',
        arrayValue: []
      },
      switchValue: ''
    }),
    computed: {
      modelValue: {
        // getter
        get: function () {
          if (this.valueForEdit.id === 1) {
            return this.valueForEdit.value
          } else {
            return this.valueForEdit.elementValue.find(item => item.title === this.valueForEdit.value)
          }
        },
        // setter
        set: function (newValue) {

        }
      },
      isCheckbox() {
        if (this.elementType === ElementTypes.checkbox) {
          return true
        } else {
          return false
        }
      },
      isInput() {
        if (this.elementType === ElementTypes.input) {
          return true
        } else {
          return false
        }
      },
      isSelect() {
        if (this.elementType === ElementTypes.select) {
          return true
        } else {
          return false
        }
      },
      isDropdown() {
        if (this.elementType === ElementTypes.dropdown) {
          return true
        } else {
          return false
        }
      },
      isSwitch() {
        if (this.elementType === ElementTypes.switch) {
          return true
        } else {
          return false
        }
      },
    },
    methods: {
      eventInterceptor(event, fieldValueName, dataType, elementType) {
        if (elementType === ElementTypes.checkbox) {
          if (dataType === DataTypes.string || dataType === DataTypes.integer) {
            this.checkboxValues.stringValue = event.value
            this.$emit('formEvent', {key: fieldValueName, value: this.checkboxValues.stringValue})
          } else if ( dataType === DataTypes.array ) {
            this.checkboxValues.arrayValue.push(event.value)
            this.$emit('formEvent', {key: fieldValueName, value: this.checkboxValues.arrayValue})
          }
        } else if (elementType === ElementTypes.input) {
          if (dataType === DataTypes.string) {
            this.inputValue = event
            this.$emit('formEvent', {key: fieldValueName, value: this.inputValue})
          }
        } else if (elementType === ElementTypes.select) {
          if (dataType === DataTypes.string || dataType === DataTypes.integer) {
            this.selectValues.stringValue = event
            this.$emit('formEvent', {key: fieldValueName, value: this.selectValues.stringValue})
          } else if ( dataType === DataTypes.array ) {
            this.selectValues.arrayValue.push(event.value)
            this.$emit('formEvent', {key: fieldValueName, value: this.selectValues.arrayValue})
          }
        } else if (elementType === ElementTypes.switch) {
          if (dataType === DataTypes.string) {
            if (event === 'primary') {
              this.switchValue = 'Да'
            } else {
              this.switchValue = 'Нет'
            }
            this.$emit('formEvent', {key: fieldValueName, value: this.switchValue})
          }
        }
      }
    },
  }
</script>

<style scoped>

</style>