<template>
  <div class="table-wrap">
      <template>
       <table class="table table-title-section">
         <thead>
         <tr class="titles-wrap">
           <th class="table-col cell-title font-weight-bold" :class="`cell-${item.key}`" v-for="(item, i) in columnTitles" :key="i">
             {{item.value}}
           </th>
         </tr>
         </thead>
       </table>
<!--        ВВОДНЫЕ УСТРОЙСТВА-->

        <h3>{{detailTypeList.listInputParts}}</h3>
        <table class="table">
          <tbody>
          <tr  v-for="(part, i) in productSpecification.listInputParts" :key="i">
            <th class="table-col cell cell-name">{{part.detail.name}}</th>
            <th class="table-col cell cell-article">{{part.detail.article}}</th>
            <th class="table-col cell cell-producer">{{part.detail.producer}}</th>
            <th class="table-col cell cell-count">{{part.count}}</th>
            <th class="table-col cell cell-price">{{part.detail.price}}</th>
          </tr>
          </tbody>
        </table>
<!--        СИСТЕМА АВР-->

        <h3>{{detailTypeList.listAtsParts}}</h3>
        <table class="table">
          <tbody>
          <tr  v-for="(part, i) in productSpecification.listAtsParts" :key="i">
            <th class="table-col cell cell-name">{{part.detail.name}}</th>
            <th class="table-col cell cell-article">{{part.detail.article}}</th>
            <th class="table-col cell cell-producer">{{part.detail.producer}}</th>
            <th class="table-col cell cell-count">{{part.count}}</th>
            <th class="table-col cell cell-price">{{part.detail.price}}</th>
          </tr>
          </tbody>
        </table>

<!--        СИСТЕМА УПРАВЛЕНИЯ-->
        <h3>{{detailTypeList.listControlParts}}</h3>
        <table class="table">
          <tbody>
          <tr  v-for="(part, i) in productSpecification.listControlParts" :key="i">
            <th class="table-col cell cell-name">{{part.detail.name}}</th>
            <th class="table-col cell cell-article">{{part.detail.article}}</th>
            <th class="table-col cell cell-producer">{{part.detail.producer}}</th>
            <th class="table-col cell cell-count">{{part.count}}</th>
            <th class="table-col cell cell-price">{{part.detail.price}}</th>
          </tr>
          </tbody>
        </table>

<!--        ОТХОДЯЩИЕ УСТРОЙСТВА-->
        <h3>{{detailTypeList.listOutputParts}}</h3>
        <table class="table">
          <tbody>
          <tr  v-for="(part, i) in productSpecification.listOutputParts" :key="i">
            <th class="table-col cell cell-name">{{part.detail.name}}</th>
            <th class="table-col cell cell-article">{{part.detail.article}}</th>
            <th class="table-col cell cell-producer">{{part.detail.producer}}</th>
            <th class="table-col cell cell-count">{{part.count}}</th>
            <th class="table-col cell cell-price">{{part.detail.price}}</th>
          </tr>
          </tbody>
        </table>

<!--        КОМПЛЕКТУЮЩИЕ КОРПУСА-->
        <h3>{{detailTypeList.listBodiesParts}}</h3>
        <table class="table">
          <tbody>
          <tr  v-for="(part, i) in productSpecification.listBodiesParts" :key="i">
            <th class="table-col cell cell-name">{{part.detail.name}}</th>
            <th class="table-col cell cell-article">{{part.detail.article}}</th>
            <th class="table-col cell cell-producer">{{part.detail.producer}}</th>
            <th class="table-col cell cell-count">{{part.count}}</th>
            <th class="table-col cell cell-price">{{part.detail.price}}</th>
          </tr>
          </tbody>
        </table>
<!--        РАБОТА-->
        <h3>{{detailTypeList.listWorkers}}</h3>
        <table class="table">
          <tbody>
          <tr  v-for="(part, i) in productSpecification.listWorkers" :key="i">
            <th class="table-col cell cell-name">{{part.detail.name}}</th>
            <th class="table-col cell cell-article">{{part.detail.article}}</th>
            <th class="table-col cell cell-producer">{{part.detail.producer}}</th>
            <th class="table-col cell cell-count">{{part.count}}</th>
            <th class="table-col cell cell-price">{{part.detail.price}}</th>
          </tr>
          </tbody>
        </table>

        <div class="section-specification-price">
          <div>
            <h3 class="mr-2">Цена за электрощит вкл. НДС 20%</h3> <h3>{{Math.round(productSpecification.price)}} руб.</h3>
          </div>
          <span>{{productSpecification.message}}</span>

        </div>
      </template>
    <div class="pt-5 pb-5 table-button-section d-flex justify-space-around">
      <v-btn
          class="specification-button"
          elevation="2"
          outlined
          text
          @click="$emit('download-spec')"
      >Скачать Спецификацию</v-btn>
      <v-btn
          class="specification-button"
          elevation="2"
          outlined
          text
          @click="$emit('download-price')"
      >Скачать Счет</v-btn>

      <v-tooltip :disabled="isAuth" v-model="showTooltip" bottom>
        <template v-slot:activator="{ on }">
          <div class="specification-button" v-on="on">
            <v-btn
                class="specification-button"
                :disabled="!isAuth"
                elevation="2"
                outlined
                text
                @click="$emit('save-spec')"
            >Сохранить</v-btn>
          </div>
        </template>
        <span>Только для зарегистрированных пользователей (нужны только имя и почта)</span>
      </v-tooltip>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  export default {
    name: "builderContent",
    data () {
      return {
        showTooltip: false,
        columnTitles: [
          {
            key: 'name',
            value: 'Наименование'
          },
          {
            key: 'article',
            value: 'Артикул'
          },
          {
            key: 'producer',
            value: 'Производитель'
          },
          {
            key: 'count',
            value: 'Кол-во'
          },
          {
            key: 'price',
            value: 'Цена за ед. с НДС'
          }
        ],
        detailTypeList:
          {
            listInputParts: 'Вводные устройства',
            listAtsParts: 'Система АВР',
            listControlParts: 'Система управления',
            listOutputParts: 'Отходящие устройства',
            listBodiesParts: 'Корпуса и комплектующие к ним',
            listWorkers: 'Работа',
        }
      }
    },
    computed: {
      productSpecification () {
        return this.$store.state.productState.productSpecification
      },
      isAuth() {
        return !!sessionStorage.length
      }
    }
  }
</script>

<style scoped lang="scss">
  .table-wrap {
    background-color: #fdfdfd;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px rgb(0 0 0 / 24%);
  }
  .titles-wrap {
    height: 55px;
  }
  .table {
    width: 100%;
    border-bottom: solid 2px #cacaca45;
    padding: 15px 0;
    /*&-title-section {*/
    /*  border-bottom: solid 2px #cacaca45;*/
    /*}*/
  }
  .cell {
    font-weight: normal;
    font-size: 12px;
    &-title {
      font-weight: bold;
      border-right: solid 2px #cacaca45;
      &:nth-last-child(1) {
        border: none;
      }
    }
    &-name {
      width: 30%;
    }
    &-artile {
      width: 15%;
    }
    &-producer {
      width: 25%;
    }
    &-count {
      width: 15%;
    }
    &-price {
      width: 15%;
    }
  }

  .section-specification-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px #cacaca45;
    padding: 0 0 15px 0;
  }
  .specification-button {
    max-width: 220px;
    width: 100%;
  }
</style>