<template>
    <v-container>
        <v-layout row wrap>
            <v-flex xs12>
                <h1>Контакты</h1>
                <p>Вы всегда можете задать вопрос по работе сервиса или связаться с разработчиком по электронной почте onego3@yandex.ru или по телефону +7 (812) 921-81-62
                </p>
                <p>Отвечаем всегда оперативно, и не удивляйтесь ответам глубокой ночью.</p>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
export default {
    
}
</script>
<style scoped>

</style>
