<template>
  <div>
    <v-container class="homeContainer">
      <v-layout row wrap>
        <v-flex>
          <v-layout row wrap>
            <v-flex xs12>
              <div>
                <p>Для открытого доступа мы представляем свой внутренний сервис для подбора и оценки электрощитов.</p>

                <p>
                  <strong>Никаких закрытых цен на оборудование</strong> - Вы можете скачать спецификацию на электрощиты с открытыми ценами на все комплектующие.
                </p>
                <p>
                  <strong>Получите цену и</strong> подробную <strong>спецификацию</strong> на Ваш электрощит <strong>за несколько кликов</strong>. Можете заказать электрощит в сборе <strong>или только комплектующие по ценам в спецификации (для самостоятельно сборки).</strong>
                </p>
                <p>
                  В <strong>один клик</strong> спецификация и цена будет <strong>пересчитана</strong> на <strong>другого производителя</strong>. Наш сервис проверяет сборку на оптимальность подбора комплектующих и решений. Если Вы хотите, сохранять свои сборки для дальнейшей корректировки - пройдите регистрацию (кроме логина, пароля и почты ничего не требуется).
                </p>

                <p>
                  Воспользуйтесь нашими решениями – <strong>по готовым шаблонам</strong> (ШУКНС, шкафы АВР и т.д.)  или свободным конструктором.
                </p>

              </div>
            </v-flex>
          </v-layout>
          <dev-grid mode="home"></dev-grid>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import DevGrid from "@/components/deviceGrid.vue";
export default {
  components: {
    DevGrid
  },
  data: () => ({})
};
</script>

<style>
.mainTitle {
  text-align: center;
}
.h1,
h2,
h3 {
  text-align: center;
}
a {
  color: inherit !important;
  text-decoration: none;
}
.v-select.v-text-field--enclosed:not(.v-text-field--single-line)
  .v-select__selections {
  padding-top: 0px;
}
.v-text-field.v-text-field--enclosed .v-input__append-inner {
  margin-top: 8px;
}
.v-text-field--outline > .v-input__control > .v-input__slot {
  min-height: 40px;
}
.myModal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: RGBA(103, 105, 106, 0.4);
  z-index: 1;
}
.modalBox {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  width: 500px;
  z-index: 999;
}
.theme--dark.v-btn.v-btn--disabled:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--outline) {
  background-color: rgba(82, 175, 83, 0.6) !important;
}
.commonBtn {
  color: #fff !important;
  background-color: #144279;
  background-image: linear-gradient(to top, #172d61 0, #1f5594 100%);
}
.commonCard {
  color: #000 !important;
  position: relative;
  transition: all 0.3s;
}
.commonCard:hover {
  transform: scale(1.05);
}
.comModalTitle {
  position: relative;
  color: #000;
  margin-top: 15px;
}
.closeModal {
  position: absolute;
  right: 5px;
  top: -15px;
  color: red;
  padding: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
</style>
