<template>
    <v-container>
        <v-layout row wrap>
            <v-flex xs12>
                <h1>Возможности</h1>
                <p>В открытый доступ выложены шаблоны для подбора электрощитов. Как результат вы получаете:</p>
                <ul class="my_list">
                    <li>оптимальную стоимость на электрощит в сборе</li>
                    <li>подробную спецификацию на электрощит с открытыми ценами </li>
                    <li>в один клик можете пересобрать электрощит на другого производителя комплектующих (например: с ABB на ИЕК, что бы узнать, сколько экономия при замене импортного оборудования на более бюджетное)
                    </li>
                </ul>
                <br>
                <p>По спецификации на электрощит Вы можете заказать комплектующие по ценам указанным в спецификации и собрать электрощит собственными силами.</p>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
export default {
    
}
</script>
<style scoped>
.my_list{
    list-style: decimal;
    padding-left: 20px;
}
</style>
