<template>
  <div class="builder-wrapper">

      <div class="left-section">
        <v-card class="shadow-style">
          <v-expansion-panels
              multiple
          >
            <v-expansion-panel
                class="expansion-panel-shadow"
                v-for="(item,i) in productParams"
                :key="i"
            >
              <v-expansion-panel-header>
                {{item.title}}
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <common-form
                    :valueForEdit="{value: item.valueForEdit, id: item.paramId, elementValue: item.value}"
                    :elementType="item.elementType"
                    :elementData="item"
                    @formEvent="handleFormEvent"
                />
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
          <div class="common-form-button-section">
            <v-tooltip :disabled="!isInvalidForm" v-model="showTooltip" bottom>
              <template v-slot:activator="{ on }">
                <div v-on="on">
                  <v-btn
                      :disabled="isInvalidForm"
                      elevation="2"
                      outlined
                      text
                      @click="sendProductConfigToParent"
                  >Рассчитать</v-btn>
                </div>
              </template>
              <span>Поля со * обязательны к заполнению</span>
            </v-tooltip>
          </div>
        </v-card>
      </div>
      <div class="right-section text-center">
         <h1 class="right-section-title">Спецификация</h1>
         <div v-if="productSpecificationData">
           <builderContent
            @download-price="downloadPrice"
            @download-spec="downloadSpec"
            @save-spec="saveSpec"
           />
         </div>
      </div>

  </div>
</template>
<script>
import commonForm from "@/components/pages/builder/components/generateFields/commonForm";
import builderContent from "@/components/pages/builder/components/builderContent";
import {SHUKNSdataModel} from '@/helpers/dataTypesForProducts'
import { required } from 'vuelidate/lib/validators'
import { cloneDeep } from 'lodash'
import axios from "axios";


export default {
  props: {
    tabs: Array,
    typeBoard: Number,
    notes: Object,
    productParams: Array,
    productType: String,
    calcResult: String,
    commonParams: Object
  },
  components: {
    commonForm,
    builderContent
  },
  data() {
    return {
      priceUrl: 'http://188.227.120.13:8080/download/offer',
      specificationUrl: 'http://188.227.120.13:8080/download/specification',
      showTooltip: false,
      selectedProductConfig: {
        id: 0,
        name: '',
        user_id: '',
        type: 1001,
        save_json: {}
      }
    };
  },
  computed: {
    productSpecificationData () {
      return !!Object.keys(this.$store.state.productState.productSpecification).length
    },
    isInvalidForm () {
      return this.$v.$invalid
    },
    getForEdit() {
      return this.$store.getters.getForEdit;
    },
    isEdit() {
      return Object.keys(this.getForEdit).length > 0;
    }
  },
  methods: {
    setForEdit() {
      this.selectedProductConfig = this.getForEdit
    },
    checkUser() {
      this.selectedProductConfig.user_id = sessionStorage.user ? JSON.parse(sessionStorage.user).id : 0
    },
    isDataForEdit() {
        for (let key in this.commonParams) {
          this.selectedProductConfig[key] = this.commonParams[key]
        }
        this.productParams.forEach(formItem => {
          this.selectedProductConfig.save_json[formItem.fieldValueName] = formItem.valueForEdit
        })
    },
    handleFormEvent (event) {
      if (event.key === 'name') {
        this.selectedProductConfig[event.key] = event.value
      } else {
        this.selectedProductConfig.save_json[event.key] = event.value
      }
    },
    sendProductConfigToParent() {
      this.$emit('calcProduct', this.selectedProductConfig)
    },
    downloadPrice () {
      fetch(this.priceUrl, {
        method: "post",
        body: JSON.stringify(this.selectedProductConfig)
      }).then(resp => resp.arrayBuffer()).then(resp => {

        const file = new Blob([resp], {type: 'application/xls'});

        const fileURL = URL.createObjectURL(file);
        const link = document.createElement('a');
        link.href = fileURL;
        link.download = "offer.xls";
        link.click();
      }).catch(err => {
        console.error(err)
      });
    },
    downloadSpec () {
      fetch(this.specificationUrl, {
        method: "post",
        body: JSON.stringify(this.selectedProductConfig)
      }).then(resp => resp.arrayBuffer()).then(resp => {

        const file = new Blob([resp], {type: 'application/xls'});

        const fileURL = URL.createObjectURL(file);
        const link = document.createElement('a');
        link.href = fileURL;
        link.download = "specification.xls";
        link.click();
      }).catch(err => {
        console.error(err)
      });
    },
    saveSpec () {
      this.checkUser()
      axios.post(`/users/saveasmbl`, this.selectedProductConfig).then(res => {
        let result = JSON.stringify(res.data);
      }).catch(err => {
      });
    }
  },
  validations() {
    if (this.productType === 'shukns') {
      let detailList = {}
      for (let value in SHUKNSdataModel.save_json.values) {
        detailList[value] = { required }
      }
      let shuknsValidationDataModel = cloneDeep(detailList)
      return {
        selectedProductConfig: {
          save_json: shuknsValidationDataModel
        }
      }
    }
  },
  created() {
    switch (this.productType) {
      case 'shukns':
        const shuknsValuesList = Object.keys(SHUKNSdataModel.save_json.values)
        let detailDataModel = {
        }
        for (const valueName of shuknsValuesList) {
          detailDataModel[valueName] = '';
        }
        this.selectedProductConfig.save_json = cloneDeep(detailDataModel)
        break
      // case 4:
      //   alert( 'В точку!' );
      //   break
      // case 5:
      //   alert( 'Перебор' );
    }
    if (this.isEdit) {
      this.isDataForEdit()
      this.$emit('calcProduct', this.selectedProductConfig)
    }
  },
  beforeDestroy() {
    this.$store.commit('clearProductSpecification');
    this.$store.commit("clearEdited");
  }
};
</script>
<style scoped lang="scss">
  $shadow: 0 0 5px 1px rgb(0 0 0 / 20%) !important;

  .builder-wrapper {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr;
    gap: 0 2%;
    padding: 0 2%;
  }

  .common-form-button-section {
    display: flex;
    justify-content: center;
    min-height: 48px;
    outline: none;
    padding: 16px 24px;
    box-shadow: $shadow;
  }
  .shadow-style {
    box-shadow: 0 0 10px 3px rgb(0 0 0 / 20%) !important;
  }
  .expansion-panel-shadow {
    &:before {
      box-shadow: $shadow;
    }
  }

  .left-section{

    padding: 65px 15px 15px 15px;
  }
  .right-section{

    padding: 15px 15px 15px 0;
  }

.border-right {
  border-right: 1px solid #ccc;
}
  .right-section-title {
    height: 50px;
  }
</style>

