<template>
  <builder
      :productParams="params"
      :productType="'shukns'"
      :commonParams="commonParameters"
      :calcResult="calcResult"
      @calcProduct="sendProductConfigToServer"
  ></builder>
</template>
<script>
  import {ProductTypes} from '@/helpers/constants'
  import {SHUKNSdataModel} from '@/helpers/dataTypesForProducts'
  import builder from "@/components/pages/builder/builder";
  import { mapActions, mapGetters } from 'vuex';
  export default {
    components: {
      builder
    },
    data: () => ({
      params: [],
      commonParameters: {},
      productConfig: {
        id: 0,
        user_id: 0,
        type: 0,
        name: '',
        save_json: {

        }
      },

    }),

    computed: {
      productType(){
        return 'shukns'
      },
      getForEdit() {
        return this.$store.getters.getForEdit;
      },
      isEdit() {
        return Object.keys(this.getForEdit).length > 0;
      },
      shuknsParams(){
        return this.$store.state.productState.shuknsParams
      },
      calcResult() {
        return 'SERVER RESPONSE'
      }
    },

    methods: {
      ...mapActions([
        'calcApp'
      ]),
      sendProductConfigToServer(event) {
        for (const key in event) {
          this.productConfig[key] = event[key];
        }
        this.calcApp(this.productConfig)
      }

    },
    created() {
      if(this.isEdit) {
        const detailValues = this.getForEdit.save_json
        delete detailValues.name



        this.commonParameters = {
          id: this.getForEdit.id,
          user_id: this.getForEdit.user_ud,
          name: this.getForEdit.name,
          type: this.getForEdit.type
        }

        const productFormModel = this.$store.state.productState.shuknsParams
        let updatedFormItems = []


        const nameField = productFormModel.find(formItem => formItem.fieldValueName === 'name')

        const cloneNameField = {...nameField}
        cloneNameField.valueForEdit = this.getForEdit.name
        this.params.push(cloneNameField)

        for (let value in detailValues) {
          const formItemModel = productFormModel.find(formItem => formItem.fieldValueName === value)
          const cloneFormItemModel = {...formItemModel}
          cloneFormItemModel.valueForEdit = `${detailValues[value]}`


          this.params.push(cloneFormItemModel)
          this.params.sort(function (a, b) {
            if (a.paramId > b.paramId) {
              return 1;
            }
            if (a.paramId < b.paramId) {
              return -1;
            }
            // a должно быть равным b
            return 0;
          });
        }
      } else {
        this.params = this.$store.state.productState.shuknsParams
      }

      switch (this.productType) {
        case ProductTypes.shukns:
          const shuknsValuesList = Object.keys(SHUKNSdataModel.save_json.values)
          for (const valueName of shuknsValuesList) {
            this.productConfig.save_json[valueName] = '';
          }
          this.productConfig.type = 1001
          break
        // case ProductTypes.vru:
        //   debugger
      }
    }
  }
</script>

<style scoped lang="scss">
  .common-form-button-section {
    display: flex;
    justify-content: flex-end;
    min-height: 48px;
    outline: none;
    padding: 16px 24px;
  }
</style>
