<template>
  <div class="check-wrap">
    <label class="check-label">
      <input class="check" type="checkbox" @change="$emit('input-check', {checkState: $event.target.checked, value})" />
      <span class="span"></span>
    </label>
  </div>
</template>
<script>
  export default {
    name: 'fieldCheckbox',
    props: ['value']
  };
</script>
<style scoped lang="scss">
  .check-wrap {
    --checkbox-border-color: #000;
    --checkbox-color: #1867c0;
    --checkmark-color: white;
    .check-label {
      position: relative;
    }
    .span {
      width: 20px;
      height: 20px;
      border: 1px solid var(--checkbox-border-color);
      display: inline-block;
      /*border-radius: 50%;*/
      border-radius: 5px;
      transition: all linear 0.3s;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 8px;
        border-bottom: 2px solid var(--checkmark-color);
        border-right: 2px solid var(--checkmark-color);
        height: 9px;
        width: 4px;
        transform: rotate(45deg);
        visibility: hidden;
      }
    }
    .check {
      display: none;
      &:checked ~ span {
        background: var(--checkbox-color);
        &:after {
          visibility: visible;
        }
      }
    }
  }
</style>